@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --navbar: 50px;
    }
}

.grid-cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-cols-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
